body {
  background-color: #212529;
  margin: 20px;
}

button {
  margin-top: 8px;
  border-radius: 5px;
}

hr {
  margin-top: 20px;
  color: white;
}

h4 {
  color: white;
  text-align: center;
  width: fit-content;
  margin: auto;
  border: 2px solid white;
  border-radius: 8px;
  padding: 15px;
  transition: 100ms ease-in-out;
}

h4:hover {
  box-shadow: 4px 4px 15px 2px black;
}

p {
  font-size: 45px;
  font-weight: bold;
  color: white;
  cursor:pointer;
  width: fit-content;
  transition: 100ms ease-in-out;
}

p:hover {
  transform: translate(20px);
}

.display-none {
  display: none;
}

.error-msg {
  text-align: center;
  color: white;
}

.footer-container {
  margin: auto;
  width: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-img {
  cursor: pointer;
  width: fit-content;
  transition: 200ms;
}

.footer-img:hover {
  opacity: 60%;
}